@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
html {
  scroll-behavior: smooth;
}

.bangers-regular {
  font-family: 'Bangers', system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

input,
textarea {
  font-family: 'Space Grotesk', sans-serif;
}

.absolute {
  opacity: 0.1;
  animation: updown 5s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
